services:
  web:
    build: .
    command: python manage.py runserver
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:   
      - db
    env_file:
      - .env

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: db_saas_bus_project_user
      POSTGRES_PASSWORD: GMCYPApxQtXZuP8q6egYoy7tEi0Thl2x
      POSTGRES_DB: db_saas_bus_project
    # volumes:
    #   - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
